# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.mo
*.db
*.sqlite3
*.env
*.venv
venv/
env/
ENV/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

